[worldserver]

#
#    IndividualXp.Enabled
#        Description: Enable or Disable the IndividualXP Module.
#        Default:     IndividualXp.Enabled   = 1
#
IndividualXp.Enabled = 1

#
#    IndividualXp.Announce
#        Description: Announce the IndividualXP Module at logon.
#        Default:     IndividualXp.Announce   = 1
#
IndividualXp.Announce = 1
